* {
	font-family: Arial, Verdana, sans-serif;
	color: #29465B;
	text-align: center;
}

body {
	width: 960px;
	margin: 0 auto;
	border:  groove;
	background-color: #F8F8FF;
}


main{
	background-color: #E6E6FA;
	padding: 10px;
	margin: 10px;
}

section {
	overflow: auto;
	height:  100%;
}


